.footer {
  color: #b2b2b2;
  background-color: #0c0c0d;
  padding: 50px 0 35px 0;
}
.footer h3 {
  color: white;
  margin-bottom: 15px;
}
.footer-nav-links a {
  text-decoration: none;
  color: #b2b2b2;
  font-weight: 500;
}
.footer-nav-links a:hover {
  color: var(--bs-green);
}
.footer-nav-links ul li {
  margin-bottom: 10px;
}
.footer-nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
